[submodule "confianz/ruvati"]
	path = confianz/ruvati
	url = git@github.com:confianz/ruvati.git
	branch = master

[submodule "brahim94/logistic"]
	path = brahim94/logistic
	url = git@github.com:brahim94/logistic.git
	branch = master

[submodule "Jarsa/transport-management-system"]
	path = Jarsa/transport-management-system
	url = git@github.com:Jarsa/transport-management-system.git
	branch = 15.0
