[submodule "confianz/ruvati"]
	path = confianz/ruvati
	url = git@github.com:confianz/ruvati.git
	branch = master

[submodule "brahim94/logistic"]
	path = brahim94/logistic
	url = git@github.com:brahim94/logistic.git
	branch = master
